## Outlier detection and removal using z-score and standard deviation in python pandas

In [143]:
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (10,6)

In [144]:
df=pd.read_csv(r"C:\Users\Ganesshh TL\Machine Learning (Code Basics Excercise)\Dataset\weight-height.csv")
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [145]:
df.dtypes

Gender     object
Height    float64
Weight    float64
dtype: object

# Outlier detection and removal using 3 standard deviation

One of the ways we can remove outliers is remove any data points that are beyond 3 standard deviation from mean. Which means we can come up with following upper and lower bounds

In [146]:
upper_limit = df.Height.mean() + 3*df.Height.std()
upper_limit

77.91014411714076

In [147]:
lower_limit = df.Height.mean() -3*df.Height.std()
lower_limit

54.82497539250136

In [148]:
df[(df.Height>upper_limit) | (df.Height<lower_limit)]

      Gender     Height      Weight
994     Male  78.095867  255.690835
1317    Male  78.462053  227.342565
2014    Male  78.998742  269.989699
3285    Male  78.528210  253.889004
3757    Male  78.621374  245.733783
6624  Female  54.616858   71.393749
9285  Female  54.263133   64.700127

Now remove these outliers and generate new dataframe

In [152]:
df_no_outlier_std_dev = df[(df.Height<upper_limit) & (df.Height>lower_limit)]
df_no_outlier_std_dev

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9993 rows x 3 columns]

# Removing the outliers Using Z Score

In [140]:
from scipy import stats
z=np.abs(stats.zscore(df[["Height","Weight"]]))
print(np.where(z > 3))

(array([ 994, 1317, 2014, 2014, 3285, 3757, 6624, 9285, 9285], dtype=int64), array([0, 0, 0, 1, 0, 0, 0, 0, 1], dtype=int64))

In [141]:
new_df=df[(z < 3).all(axis=1)]
new_df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9993 rows x 3 columns]